:host{
    display: flex;
    align-items: center;
}

.pager{
    &__toLeft{
        cursor: pointer;
        padding: 6.5px 4px;
    }
    &__current{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        margin: 0 26.6px;
    }
    &__toRight{
        cursor: pointer;
        padding: 6.5px 4px;
    }
}

.arrow{
    &__right{
        transform: rotate(180deg);
    }
}

.locked{
    fill: #3C474C;
}